*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.idea/*


# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

**/.idea/tasks.xml
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/target
target
.gradle
build
.gitignore
.swagger-codegen-ignore
.travis.yml
